In [1]:
import numpy as np
import pandas as pd

In [2]:
data=np.loadtxt('dMean值占据率/InVitro_dMean.txt',dtype=np.float64)

In [3]:
data = data[np.argsort(data[:,0])]

In [4]:
ch = data[:,0]
site = data[:,1]
level = data[:,2]

In [5]:
len(ch)

10774972

In [6]:
fs = np.zeros(17,dtype = int)

In [7]:
x=0
for i in range(len(ch)):
    if ch[i-1]!=ch[i]:
        fs[x]=int(i)
        x = x+1
        print(i)
fs[16] = len(ch)

0
168234
916665
1161631
2540051
3055054
3291456
4274761
4759402
5141817
5801346
6433972
7365903
8214165
8920611
9918012

In [8]:
print(fs)
print(len(fs))

[       0   168234   916665  1161631  2540051  3055054  3291456  4274761
  4759402  5141817  5801346  6433972  7365903  8214165  8920611  9918012
 10774972]
17

In [9]:
for c in range(len(fs)-1):
    chc = data[fs[c]:fs[c+1]]
    df = pd.DataFrame(chc,columns=['ch','site','value'])
    df_sorted = df.sort_values(by='value', ascending=False)
    df_sorted['index'] = range(len(df_sorted))
    df_sorted = df_sorted[['index', 'ch', 'site', 'value']]
    ss = str(c+1)
    filename = 'ch'+ss
    df_sorted.to_csv('分类染色体/%s.csv'%(filename),index=False)
    print(filename)

ch1
ch2
ch3
ch4
ch5
ch6
ch7
ch8
ch9
ch10
ch11
ch12
ch13
ch14
ch15
ch16

In [10]:
data = pd.read_csv("分类染色体/ch1.csv")

In [11]:
data.shape

(168234, 4)

In [12]:
data.head()

   index   ch      site  value
0      0  1.0  168794.0  4.158
1      1  1.0  168792.0  4.142
2      2  1.0  168793.0  4.142
3      3  1.0  168797.0  4.127
4      4  1.0  168798.0  4.127

In [13]:
data.tail()

         index   ch     site   value
168229  168229  1.0  75001.0  0.0155
168230  168230  1.0  75002.0  0.0155
168231  168231  1.0  75003.0  0.0155
168232  168232  1.0  75004.0  0.0155
168233  168233  1.0  73401.0  0.0155

In [14]:
import numpy as np
import pandas as pd

In [15]:
data=np.loadtxt('dMean值占据率/InVitro_dMean.txt',dtype=np.float32)
print(data.shape)

(10774972, 3)

In [16]:
sh = data.shape
sh[0]

10774972

In [17]:
df = pd.DataFrame(data,columns=['ch','site','value'])

In [18]:
df.head()

    ch    site  value
0  1.0  2904.0  1.066
1  1.0  2905.0  1.050
2  1.0  2906.0  1.035
3  1.0  2907.0  1.035
4  1.0  2908.0  1.020

In [19]:
df.tail()

           ch      site  value
10774967  9.0  436919.0  0.169
10774968  9.0  436920.0  0.213
10774969  9.0  436921.0  0.213
10774970  9.0  436922.0  0.213
10774971  9.0  436923.0  0.213

In [20]:
df.to_csv('分类染色体/InVitro_dMean.csv',index=False)